.wrapper {
  padding: 40px;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #f9f9f9;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: -8px;
  text-align: left;
  margin-bottom: 8px;
}
/* Add to your global CSS or Form.module.css */
.custom-modal {
  background: white;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  outline: none;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.datepic{
  width: 100%;
}


.heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #3e3e3e;
}

.price {
  font-weight: bold;
  margin-bottom: 20px;
}

.paymentForm {
  display: flex;
  flex-direction: column;
}

.paymentForm input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.paymentForm button {
  padding: 12px;
  background: #f5c960;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.paymentForm button:hover {
  background: #f5c964;
}
